{% extends "base.html" %}
{% load staticfiles %}
{% block title %}후츠파{% endblock %}
{% block head %}후츠파{% endblock %}
{% block subhead %}All About Question and Answer{% endblock %}
{% block img-bg %}{% static 'img/home-bg.jpg' %}{% endblock %}



{% block content %}


    <!--{% for clublist in clublists %}-->
        <div class="post-preview">
            <a href="#">
                <h2 class="post-title">
                    <!--<a href="chutzpah">{{ clublist.ClubName }}</a>-->
                </h2>
                
                
            </a>
            <p class="post-meta">

            </p>
        </div>
    <!--{% empty %}-->

    Login and See<br>
    <a href="index2.html">후츠파 동영상 저장소</a>

    <!--{% endfor %}-->
    <br>

{% endblock %}